/* DIVO */

html, body {
    overflow-x: hidden;
    font-family: 'Comfortaa', cursive;
}
a {
    text-decoration: none !important;
}
.container-fluid {
    padding: 0 5%;
}

.logo.img-fluid {
    width: 148px;
}

.main_menu li {
    list-style: none;
    display: inline-block;
}
.main_menu  {
    padding: 0;
    margin: 0;
    text-align: right;
}
.main_menu li a {
    padding: 0 15px;
    color: #fff;
    text-shadow: 1px 0 2px rgba(0,0,0,0.95);
    font-weight: 700;
}
.header.hd-transparent {
    position: absolute;
    width: 100%;
    padding: 40px 0;
    min-height: 148px;
    z-index: 999;
}
.banner_img img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}

.banner_text {
    position: absolute;
    width: 100%;
    bottom: 8%;
}   

.banner_text h3 {
    color: #fff;
    line-height: 54px;
    font-size: 42px;
    margin-bottom: 0;
}

.banner_text h3::before {
    content: "";
    display: block;
    width: 70px;
    height: 6px;
    background: #ec1c24;
    margin-bottom: 15px;
}

.inner_banner.banner_text h3::before {

    display: inline-block;
    margin-bottom: 10px;
    width: 50px;
    margin-right: 20px;

}
.inner_banner.banner_text {
    bottom: 14%;
}

.cont.bg {
    background-color: #18171c;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    position: relative;
}

.dsection-1 {
    padding: 150px 0;
}

.dit_tx h3 {
    color: #fff;
    font-size: 40px;
    line-height: 54px;
}

.dsection-1 {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.dsection-1 .row {
    width: 100%;
}

.plicon_inr {
    text-align: center;
    padding: 50px 0;
}

.col-4.plicons {
    border: 1px solid #2c2b30;
    background: #18171c;
    margin-left: -1px;
    margin-bottom: -1px;
    position: relative;
    z-index: 10;
}

.desction-2 {
    padding: 0 15px 250px 16px;
}

.cline {
    position: absolute;
    left: 0;
    top: 78px;
    z-index: 1;
    left:-70px;
    transition:all 0.3s ease;
    -webkit-animation:linear infinite alternate;
-webkit-animation-name: ltor;
-webkit-animation-duration: 10s;

}

@-webkit-keyframes ltor {
    0% { left: -70px;}
    25%{ left : -140px;}
    50%{ left: -170px;}
    75%{ left: -140px;}
    100%{ left: -70px;}
}

@keyframes ltor {
    0% { left: -70px;}
    25%{ left : -140px;}
    50%{ left: -170px;}
    75%{ left: -140px;}
    100%{ left: -70px;}
}
.desction-2 .row {
    position: relative;
    z-index: 999;
}

.pf_text h3 {
    color: #fff;
    font-size: 34px;
    line-height: 42px;
    padding-left: 100px;
}

.red_strip {
    background: url(../img/rebanner.jpg) no-repeat center transparent;
        background-size: auto;
    background-size: cover;
    padding: 50px;
    color: #fff;
}
.red_strip h3 {
    padding: 120px 0px;
    text-align: center;
    max-width: 70%;
    margin: auto;
    font-size: 34px;
}

.footer_menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}   


.footer_menu li {
    display: inline-block;
}

.footer {
    background: #18171c;
    padding-top: 150px;
    padding-bottom: 70px;
    color: #989898;
}
.footer a {
    color: #989898;

}
.ft_abt {
    margin-bottom: 15px;
}
.ft_social a {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
    padding-right: 18px;
}
.footer_menu li a {
    padding: 0px 15px;
    transition: all 0.3s ease-in-out;

}
.ft_social a:hover {
    color: #fff;
}
.footer_menu li a:hover {
    color: #fff;
}
.abcontent p {
    color: #ccc;
    max-width: 99%;
    position: relative;
    z-index: 99;
}
.ab_title h3 {
    font-size: 24px;
    position: relative;
z-index: 9;
}
.ab_title {
    padding: 130px 0 30px;
    color: #f1f1f1;
}
.cline.abline {
    -webkit-animation: none;
    top: 90px;
    z-index: 0;
    left: calc(-50vw + 50%);
}
.absection {
    position: relative;
}
.cline.abline img {
    width: 100vw;
}

.abcontent {
    font-size: 18px;
    line-height: 36px;
}
.noscroll {
    overflow: hidden;
    max-height: 100vh;
}
.cont.bg.whyc {
    padding: 150px 0 0;
    color: #fff;
}

.img-fluid.whimg {
    max-height: 450px;
    margin: auto;
    max-width: 850px;
    width: 100%;
    position: relative;
    z-index: 9; 
}

.wh_row {
    padding: 60px 0 200px;
    
}
.tl .whim {
    position: relative;
    text-align: right;
}
.tr .whim {
    position: relative;
}

.tl h3 {
    padding-right: 11vw;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 0;
}
.tr h3 {
    padding-left: 5vw;
    font-size: 36px;
    padding-right: 5vw;
    font-weight: 300;
line-height: 48px;
margin-bottom: 0;
}

.wh_row.tr {
    position: relative;
}
.wh_row.tr .col-md-6 {
    position: relative;
    z-index: 99;
}

.cline.whline1 img {
    width: 110vw;
}
.cline.whline1 {
    top: -95px;
}
.wh_made {
    background: url(../img/madeindia.jpg) no-repeat center transparent;
    position: relative;
    padding: 220px 0;
    text-align: center;
}
.wh_made h3 {
    font-size: 44px;
}
.container-fluid.whs2 {
    padding-top: 120px;
}
.cline.whline2 {
    top: -20px;
}
.tl .whim::before {

    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    background: #000;
    opacity: 0.1;
    border-radius: 100%;
    left: 80px;
    top: 0;
    z-index: 0;
    transition:all 0.3s ease;
    -webkit-animation:linear infinite alternate;
-webkit-animation-name: updown;
-webkit-animation-duration: 6s;

}

.tr .whim::before {

    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    background: #000;
    opacity: 0.1;
    border-radius: 100%;
    right: 80px;
    top: 0;
    z-index: 0;
    transition:all 0.3s ease;
    -webkit-animation:linear infinite alternate;
-webkit-animation-name: updown;
-webkit-animation-duration: 5s;

}

@-webkit-keyframes updown {
    0% { top: 0px;}
    50%{ top: 50px;}
    100%{ top: 0px;}
}

.whst2 {
    background: url(../img/whystrip2.jpg) no-repeat center transparent;
    padding: 140px 0; 
}

.wstxt {
    max-width: 890px;
    margin: auto;
    text-align: center;
    width: 80%;
    line-height: 38px;
}
.psection-1 {
    padding: 180px 0;
    position: relative;
}
.plicon_inr h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    text-align: left;
}
.psection-1 .col-4.plicons {
    display: flex;
    align-items: center;
}
.psection-1 .plicon_inr {
    text-align: center;
    padding: 40px 50px;
    display: flex;
}
.psection-1 + .psection-1 {
    padding-top: 50px;
}
.psection-1 .row {
    position: relative;
    z-index: 999;
}
.pf_text.pfr h3 {
    text-align: right;
    padding-right: 5vw;
}

.cline.msline {
    -webkit-animation: none;
            animation: none;
    left: calc(-50vw + 50%);
}
.plicon_inr:not(.noimg) {
    width: 100%;
    text-align: center;
    justify-content: center;
}
.psection-1 .plicon_inr img {
    max-height: 60px;
    object-fit: contain;
}
.red_strip.clients {
    background: url(../img/clientsbg.jpg) no-repeat center transparent;
}

.psection-1.ps4 {
    padding-top: 250px;
}
.cline.lline {
    top: 285px;
    left: calc(-50vw + 50%);
    animation: none;
}
.cline.lline img {
    width: 100vw;
}
.asrts_se {
    position: relative;
    padding-bottom: 200px;
}
.artists {
    position: relative;
    z-index: 999;
    display: flex;
}
.asrts_se .cline.lline {
    top: 50%;
    transform: translateY(-50%);
}
.each_art {
    padding: 0 60px;
    position: relative;
    z-index: 99;
}
.each_art img {
    width: 200px;
    margin: 0 10px;
    background: #18171c;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #4d4c51;
    pointer-events: none;
}
.each_art.art1 {
    top: 24px;
}
.artistr h3 {
    color: #fff;
    margin-bottom: 90px;
}
.each_art.art2 {
    top: 95px;
}
.each_art.art3 {
    top: 30px;
}
.each_art.art4 {
    padding-top: top;
    top: -40px;
}
.each_art.art5 {
    top: 65px;
}
.each_art h5 {
    color: #cccccc;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}
.roytlstrip {
    background: url(../img/rylstrip.jpg) no-repeat center transparent;
    background-size: cover;
    padding: 100px 50px;
    text-align:center;
}
.roytlstrip h3 {
    width: 85%;
    max-width: 900px;
    margin: auto;
    line-height: 46px;
    padding: 20px 0;
}
.contact .inner_banner.banner_text {
    bottom: 0;
    position: relative;
    padding-top: 200px;
}
.contact_locs {
    color: #ccc;
}
.loc_icon, .locarea {
    display: inline-block;
    vertical-align: middle;
}
.locarea {
    padding: 0;
    margin: 0;
    list-style: none;
}
.loc_icon {
    padding-right: 35px;
}
.locarea LI {
    display: inline-block;
    padding: 0 35px;
    font-size: 20px;
    border-right: 2px solid #ccc;
    line-height: 20px;
}
.locarea li:last-child {
    border: none;
}
.contact_locs {
    color: #ccc;
    padding-top: 50px;
}
.cont.bg.contact .main_banner {
    background: url('../img/contactmap.png') no-repeat transparent;
    background-position: top 0 right;
    background-size: auto 85vh;
}
.choosebtn {
    padding: 80px 0;
    display: flex;
}
.choosebtn a {
    padding: 20px 10px;
    color: #ccc;
    text-align: center;
    display: inline-block;
    flex-basis: 50%;
    max-width: 50%;
    border: 1px solid #ccc;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.choosebtn a:hover {
    background: #ec1c24;
    color: #fff;
    border-color: #ec1c24;
}
/* MQ */

@media only screen and (max-width:1610px) {
    .footer {
        font-size: 14px;
    }
    .footer_menu li a {
        padding: 0px 12px;
    }
    .pf_text h3 {
        font-size: 34px;
        line-height: 48px;
        padding-left: 80px;
        font-weight: 400;
    }
    .pf_text h3 br {
        display: none;
    }
    .abcontent p {
        max-width: 100%;
    }
    .cline.abline img {
        width: 115vw;
    }
    .cline.abline {
        top: 110px;
    }
}

@media only screen and (max-width:1440px){
    .footer_menu li a {
        padding: 0px 10px;
    }
    .dit_tx h3 {
        font-size: 34px;
        line-height: 46px;
    }
    .pf_text h3 {
        font-size: 30px;
        line-height: 44px;
        padding-left: 70px;
    }
    .plicon_inr img {
        width: 110px;
    }
    .red_strip h3 {
        max-width: 88%;
        font-size: 32px;
    }
    .abcontent {
        font-size: 16px;
        line-height: 30px;
    }
    .ab_title h3 {
        font-size: 20px;
    }
    .abcontent.row.justify-content-between > div {
        max-width: 50%;
        flex-basis: 50%;
        padding: 0 40px;
    }
    .abcontent.row.justify-content-between  {
        margin: 0 -40px;
    }
    .cline.abline img {
        width: 105vw;
    }
    .cline.abline {
        top: 110px;
        left: calc(-55vw + 50%);
    }
    .abcontent.row.justify-content-between > div {
        padding: 0 20px;
    }
    .abcontent.row.justify-content-between {
        margin: 0 -20px;
    }
    .tl h3 {
        padding-right: 4vw;
        font-size: 32px;
    }
    .tr h3 {
        padding-left: 2vw;
        font-size: 32px;
    }
    .wh_made {
        padding: 180px 0;
    }
    .each_art h5 {
        font-size: 13px;
    }
    .psection-1 .plicon_inr {
        text-align: center;
        padding: 30px 30px;
    }
    .psection-1 .plicon_inr img {
        max-height: 40px;
        object-fit: contain;
    }
    .plicon_inr img {
        width: 140px;
    }
}

@media only screen and (max-width:1366px){
    .banner_text h3 {
        line-height: 50px;
        font-size: 36px;
    }
    .footer_menu li a {
        padding: 0px 7px;
    }
    .pf_text h3 {
        padding-left: 40px;
    }
    .cline.whline1 img {
        width: 140vw;
    }
    .cline.whline1 {
        top: -22px;
    }
    .cline.lline {
        top: 305px;
    }
    .psection-1.ps5 .col-4.plicons:first-child img {
        width: 40px !important;
    }
    .each_art.art1 {
        top: 19px;
    }
    .each_art.art2 {
        top: 75px;
    }
    .each_art.art3 {
        top: 10px;
    }
    .each_art.art4 {
        padding-top: top;
        top: -20px;
    }
    .each_art.art5 {
        top: 55px;
    }
    .each_art {
        padding: 0 45px;
    }
}

@media only screen and (max-width:1280px){
    .footer_menu li a {
        padding: 0px 5px;
    }
    .footer {
        font-size: 13px;
    }
    .plicon_inr img {
        width: 90px;
    }
    .plicon_inr {
        padding: 30px 0;
    }
    .cline img {
        max-width: calc(100vw + 170px);
    }
    .cline.abline {
        top: 130px;
    }
    .abcontent {
        font-size: 15px;
        line-height: 30px;
    }
    .ab_title h3 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .tl h3 {
        font-size: 20px;
    }
    .img-fluid.whimg {
        max-height: 300px;
    }
    .tr h3 {
        font-size: 22px;
    }
    .wh_made h3 {
        font-size: 36px;
    }
    .wh_made {
        padding: 160px 0;
    }
    .wh_row {
        padding: 60px 0 140px;
    }
    .wstxt {
        font-size: 24px;
    }
    .whst2 {
        padding: 100px 0;
    }
    .each_art {
        padding: 0 25px;
    }
}

@media only screen and (max-width:1160px){
    .footer {
        font-size: 12px;
    }
    .footer_menu li a {
        padding: 0px 2px;
    }
    .pf_text h3 {
        font-size: 26px;
    }
    .abcontent {
        font-size: 14px;
        line-height: 26px;
    }
}

@media only screen and (max-width:1099px) {
    .main_menu li a {
        font-size: 18px;
    }
    .logo.img-fluid {
        width: 100px;
    }
    .main_menu {
        margin-top: 12px;
    }
    .banner_text h3 {
        line-height: 34px;
        font-size: 24px;
    }
    .inner_banner.banner_text h3::before {
        margin-bottom: 5px;
        height: 4px;
    }
    .dit_tx h3 {
        font-size: 30px;
        line-height: 44px;
    }
    .inner_banner.banner_text h3::before {
        margin-bottom: 3px;
        height: 4px;
        width: 40px;
        margin-right: 15px;
    }
    .cline.abline {
        top: 135px !important;
        left: calc(-58vw + 50%);
    }
    .cline img {
        width: 125vw !important;
        max-width: none;
    }
}

@media only screen and (max-width:1024px) {
    .main_menu {
        margin-top: 0;
    }
    .menu_toggle span {
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
        margin: 8px 0;
        transition: all 0.3s ease-in-out;
        position: relative;
        right: 0;
        top: 0;
        opacity: 1;
    }
    .menu_toggle {
        display: inline-block;
        width: 40px;

    }
    
    .menu_toggle.active span:first-child {
        top: 10px;
        transform: rotate(-45deg);
    }
    
    .menu_toggle.active span:last-child {
        top: -10px;
        transform: rotate(45deg);
    }
    .menu_toggle.active span:nth-child(2) {
        right: -40px;
        opacity: 0;
    }
    .main_menu {
        top: -100%;
        transition: all 0.3s ease-in-out;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.95);
        z-index: 99999;
        flex-direction: column;
        opacity: 0;
    }
    
    .main_menu.active {
        opacity: 1;
        top: 0;
        
    }
    
    .menu_toggle {
        display: inline-block;
        width: 40px;
        z-index: 999999;
        position: relative;
        top: 12px;
        float: right;

    }
    
    .logo {
         z-index: 999999;
        position: relative;
    }
    .main_menu li a {
        line-height: 50px;
    }
    .footer_row.row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer_row.row > div {
        margin-bottom: 30px;
        flex-basis: 100%;
        max-width: 100%;
    }
    .footer {
        font-size: 14px;
    }
    .footer_menu{
        text-align: center;
    }
    .footer_menu li a {
        padding: 0px 10px;
    }
    .ft_abt {
        max-width: 70%;
        margin: 0 auto 20px;
    }
    .footer {
        padding-top: 100px;
    }
    .dsection-1 .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }
    .dit_tx h3 {
        font-size: 28px;
        line-height: 46px;
        margin-bottom: 40px;
    }
    .desction-2 .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .pf_text h3 {
        font-size: 26px;
        padding-left: 0;
        margin-top: 100px;
        max-width: 80%;
    }
    .cline {
        top: 325px;
    }

    .desction-2 {
        padding: 0 15px 120px 16px;
    }
    .red_strip h3 {
        max-width: 95%;
        font-size: 24px;
        line-height: 40px;
        padding: 60px 0;
    }
    .psection-1 > .row {
        flex-direction: column;
        text-align: center;
    }
    .psection-1 .plicon_inr img {
        max-height: 40px;
        object-fit: contain;
        width: 100%;
    }
    .psection-1 .col-md-6 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .psection-1 .plicon_inr img {
        object-fit: contain;
        width: 100%;
        max-width: 150px;
        max-height: 30px;
    }
    .psection-1 .plicon_inr {
        text-align: center;
        padding: 50px 30px;
    }
    .psection-1 .pf_text h3 {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .psection-1 .pf_text.aos-init.aos-animate {
        transition-delay: 0.3s !important;
    }
    
    .psection-1 > .row.prew {
        flex-direction: column-reverse;
    }
    .pf_text.pfr h3 {
        text-align: center;
        padding-right: 0;
    }
    .each_art {
        padding: 0 45px;
    }
    .each_art img {
        padding: 4px;
    }
    /* .each_art.art2 {
        top: 95px;
    }
    .each_art.art3 {
        top: 60px;
    }
    .each_art.art4 {
        top: 10px;
    }
    .each_art.art5 {
        top: 5px;
    } */
    .cline.lline img {
        width: 100vw !important;
    }
}


@media only screen and (max-width:992px) {
    .cline img {
        width: 165vw !important;
    }
    .cline.lline img {
        width: 100vw !important;
    }
    .each_art h5 {
        font-size: 10px;
    }
    .each_art {
        padding: 0 50px;
    }
    .each_art.art1 {
        top: 40px;
    }
    .each_art.art3 {
        top: 30px;
    }
    .each_art.art4 {
        top: 10px;
    }
    .roytlstrip h3 {
        width: 90%;
        font-size: 24px;
    }
    .roytlstrip h3 {
        width: 100%;
        font-size: 18px;
        line-height: 34px;
    }
}


@media only screen and (max-width:768px) {
    .banner_text h3 {
        line-height: 30px;
        font-size: 18px;
    }
    .banner_text h3 br {
        display: none;
    }
    .menu_toggle {
        top: 5px;
    }
    .footer_menu li {
        display: block;
        padding: 15px;
    }  
    .dsection-1 {
        padding: 100px 0;
        min-height: 80vh;
    } 
    .abcontent.row.justify-content-between > div {
        max-width: 100%;
        flex-basis: 100%;
        display: inline;
    }
    .cline.abline {
        top: 200px !important;
    }
    .cline img {
        width: 155vw !important;
        transform: rotate(36deg) translateX(0%) translateY(80%);
    }

    /* .tl [data-aos="fade-right"] {
        transform: translate3d(100px,0,0);
    } */

    .tl [data-aos][data-aos][data-aos-delay="800"].aos-animate {
        transition-delay: .3s;
    }
    .tl [data-aos][data-aos][data-aos-delay="300"].aos-animate {
        transition-delay: .8s;
    }
    .wh_row.row.tl {
        flex-direction: column-reverse;
    }
    .tl .whim {
        margin-bottom: 50px;
    }
    .tr .whim {
        margin-bottom: 50px;
    }
    .wh_row {
        padding: 60px 0;
    }
    .cont.bg.whyc .container-fluid {
        padding-bottom: 60px;
    }
    .tr .whim::before, .tl .whim::before {
        width: 200px;
        height: 200px;
    }
    .cont.bg.whyc {
        padding: 50px 0 0;
    }
    .tl h3 {
        padding-right: 0;
        font-size: 18px !important;
        line-height: 36px;
    }
    .tr h3 {
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        line-height: 36px;
    }
    .img-fluid.whimg {
        max-height: 250px;
    }
    .wh_made {
        padding: 80px 0;
        background-size: cover;
    }
    .cont.bg.whyc .container-fluid {
        padding-bottom: 0;
    }
    .wh_made h3 {
        font-size: 26px;
        margin-bottom: 0;
    }
    .wstxt {
        font-size: 20px;
        line-height: 32px;
    }
    .whst2 {
        padding: 60px 0;
    }
    .cline img {
        width: 185vw !important;
        opacity: 0.5;
    }
    
    .cline.lline img {
        width: 100vw !important;
        transform: none;
    }
    .each_art img {
        margin: 0;
    }
    .each_art {
        padding: 0px 5%;
    }
}

@media only screen and (max-width:700px){
    .each_art {
        position: relative;
        left: auto !important;
        top: auto !important;
        max-width: 50%;
        flex-basis: 50%;
    }
    .artists {
        flex-wrap: wrap;
    }
    .each_art {
        padding: 0px 70px;
        margin-bottom: 50px;
        text-align: center;
    }
    .artistr h3 {
        text-align: center;
    }
    .each_art h5 {
        font-size: 12px;
    }
}

@media only screen and (max-width:600px){
    .dit_tx h3 {
        font-size: 22px;
        line-height: 40px;
    }
    .plicon_inr img {
        width: 80px;
    }
    .pf_text h3 {
        font-size: 22px;
        padding-left: 0;
        margin-top: 75px;
        max-width: 80%;
        line-height: 38px;
    }
    .red_strip h3 {
        max-width: 100%;
        font-size: 22px;
        line-height: 36px;
        padding: 60px 0;
    }
    .each_art {
        padding: 0px 30px;
    }
    .asrts_se {
        padding-bottom: 30px;
    }
    .psection-1 .col-4.plicons {
        flex-basis: 50%;
        max-width: 50%;
    }
    .psection-1 {
        padding-left: 2px;
    }
    .psection-1 {
        padding: 80px 0;
    }
    .ps2 .col-4.plicons:last-child {
        display: none;
    }
    .psection-1.ps4 {
        padding-top: 100px;
    }
    .psection-1.ps4 .col-4.plicons {
        flex-basis: 100%;
        max-width: 100%;
    }
    .ps5 .col-4.plicons:last-child {
        display: none;
    }
    .psection-1 .pf_text h3 {
        font-size: 22px;
    }
    .red_strip.clients {
        padding: 30px;
        background-size: cover;
    }
    .roytlstrip {
        padding: 70px 20px;
    }
}

@media only screen and (max-width:480px){
    .banner_text h3 {
        line-height: 26px;
        font-size: 16px;
    }
    .banner_text h3::before {
        height: 5px;
        margin-bottom: 12px;
    }
    .pf_text h3 {
        font-size: 18px;
        padding-left: 0;
        margin-top: 75px;
        max-width: 90%;
        line-height: 38px;
    }
    .red_strip h3 {
        max-width: 100%;
        font-size: 18px;
        line-height: 32px;
    }
    .plicon_inr img {
        width: 60px;
    }
    .plicon_inr {
        padding: 24px 0;
    }
    .tr h3,.tl h3 {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px !important;
        line-height: 32px;
    }
    .each_art h5 {
        font-size: 10px;
    }
    
}